@media (min-width: 1024px) {
    .seccion-noticias {
        gap: 30px;
        max-width: 900px;
        margin: auto;
    }

    article {
        flex-basis: calc(50% - 30px);
    }

    article img {
        width: 30%;
        max-width: 100%;
        height: auto;
        border-radius: 5px;
        margin-bottom: 10px;
    }
}